.animated-gradient-text {
    background: linear-gradient(
      270deg,
      #00bcd4,
      #7e57c2,
      #ec407a,
      #ff7043,
      #c6ff00,
      #00bcd4
    );
    background-size: 1200% 1200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 10s ease infinite;
    display: inline-block;
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  